<html>

<head>
    <title>
        Vendor Login
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>


    <style type="text/css">
        html,
        body {
            height: 100%;
            margin: 30px;
        }

        html {
            display: table;
            margin: auto;
        }

        body {
            display: table-cell;
            vertical-align: middle;
        }

        .margin {
            margin: 0 !important;
        }
    </style>

</head>

<body class="white">
    <div id="login-page" class="row">
        <div class="col s12 z-depth-6 card-panel">
            <form class="login-form">

                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-communication-email prefix"></i>
                        <input id="email" type="email" class="validate">
                        <label for="email" class="center-align">Email</label>
                    </div>
                </div>


                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-action-lock-outline prefix"></i>
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <a onclick="loginVendor()" class="btn waves-effect waves-light col s12">Login</a>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div id="profile">
        <div class="row">
            <div class="input-field col s12">
                <a onclick="addItems()" class="btn waves-effect waves-light col s12">Add Items</a>
            </div>

        </div>
        <div class="row">
            <div class="input-field col s12">
                <a onclick="billGeneration()" class="btn waves-effect waves-light col s12">Generate Bill</a>
            </div>

        </div>
        <div class="row">
            <div class="input-field col s12">
                <a onclick="summary()" class="btn waves-effect waves-light col s12">Summary</a>
            </div>

        </div>
    </div>
    <div id="items">
        <div class="input-field col s6">
            <input id="item_name" type="text" class="validate">
            <label for="item_name">Item Name</label>
        </div>
        <div class="input-field col s6">
            <input id="item_price" type="number" class="validate">
            <label for="item_price">Item Price</label>
        </div>
        <div class="input-field col s6">
            <input id="item_quantity" type="number" class="validate">
            <label for="item_quantity">Item Quantity</label>
        </div>
        <div class="input-field col s6">
            <input id="item_type" type="text" class="validate">
            <label for="item_type">Item Type</label>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <a onclick="addItem()" class="btn waves-effect waves-light col s12">Add Item</a>
            </div>

        </div>
        <div class="row">
            <div class="input-field col s12">
                <a onclick="finish()" class="btn waves-effect waves-light col s12">Finish</a>
            </div>

        </div>
    </div>
    <div id="bills">
        <div class="input-field col s12">
            <a onclick="computeBill()" class="btn waves-effect waves-light col s12">Compute Bill</a>
        </div>

        <table id="itemstable" style="width:300px">
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Item Price</th>
                    <th>Item Quantity</th>
                </tr>
                <tr>
                    <td>
                        <div class="input-field col s6">
                            <input type="text" id="item_name_bill" class="autocomplete">
                            <label for="item_name_bill">Item Name</label>
                        </div>
                    </td>

                    <td>
                        <div class="input-field col s6">
                            <input id="item_price_bill" type="number" class="validate">
                            <label for="item_price_bill">Item Price</label>
                        </div>
                    </td>

                    <td>
                        <div class="input-field col s6">
                            <input id="item_quantity_bill" type="number" class="validate">
                            <label for="item_quantity_bill">Item Quantity</label>
                        </div>
                    </td>
                    <td>
                        <div class="input-field col s12">
                            <a onclick="addToTable()" class="btn waves-effect waves-light col s12">Add</a>
                        </div>
                    </td>

                </tr>
            </thead>
            <tbody id="table-body"></tbody>
        </table>
    </div>
    <div id="models">
        <div class="input-field col s12">
            <a onclick="finish()" class="btn waves-effect waves-light col s12">Dashboard</a>
        </div>
    </div>

    <script>
        var emailMain = "";
        var vendorId;
        var itemList = [];
        var index = 0;
        $(document).ready(function () {

            $('#items').hide();
            $('#profile').hide();
            $("#bills").hide();
            $("#models").hide();


        });
        //function populateList() {
        //    var dict = [];
        //    $.ajax({

        //        url: 'http://localhost:59847/Products/GetByVendorIds/' + vendorId,
        //        type: 'GET',
        //        dataType: 'json',
        //        success: function (returndata) {
        //            $.each(returndata.list, function () {
        //                dict.push(this.toString());

        //            });
        //            console.log("dict: " + dict);
        //            $('input.autocomplete').autocomplete({
        //                data=dict,

        //            });
        //        }

        //    });

        //}
        function loginVendor() {
            $('#profile').hide();
            var email = document.getElementById("email").value;

            var repass = document.getElementById("password").value;
            $.ajax({

                url: 'http://localhost:59847/Vendors/Login',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({

                    "SetVendorPassword": repass,
                    "VendorEmail": email,

                }),
                dataType: "json",
                success: function (returndata) {
                    if (returndata.ok) {
                        console.log("done");
                        console.log(returndata.email);
                        emailMain = returndata.email;
                        getProfile(returndata.email);
                    }
                    else
                        window.alert(returndata.message);
                }

            });

        }
        function getProfile(email) {
            $("#login-page").hide();
            $("#profile").show();

            console.log("hey:" + emailMain);
            $.ajax({
                url: "http://localhost:59847/Vendors/GetId",
                type: "POST",
                contentType: 'application/json',
                data: JSON.stringify({


                    "VendorEmail": emailMain,

                }),
                dataType: "json",
                success: function (response) {
                    console.log(response.vendorId);
                    vendorId = response.vendorId;
                    //  populateList();
                },
                error: function (xhr) {
                    console.log("failed");
                }
            });
        }
        function addItems() {
            $("#profile").hide();
            $("#items").show();
            $("#bills").hide();
            $("#models").hide();

        }
        function addItem() {
            var itemName = document.getElementById("item_name").value;
            var itemType = document.getElementById("item_type").value;
            var itemQuantity = document.getElementById("item_quantity").value;
            var itemPrice = document.getElementById("item_price").value;
            var itemDescription = document.getElementById("item_name").value;
            console.log("vendorid: " + vendorId);
            $.ajax({

                url: 'http://localhost:59847/Products/Create',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    "ItemVendorId": vendorId,
                    "ProductName": itemName,
                    "ProductPrice": itemPrice,
                    "ProductCategory": itemType,
                    "ProductDescription": itemDescription,
                    "ProductQuantity": itemQuantity

                }),
                dataType: "json",
                success: function (returndata) {
                    if (returndata.ok) {
                        console.log("added to the items list");
                        document.getElementById("item_name").value = "";
                        document.getElementById("item_type").value = "";
                        document.getElementById("item_quantity").value = "";
                        document.getElementById("item_price").value = "";
                        document.getElementById("item_name").value = "";

                    }
                    else
                        window.alert("unable to add item");
                }

            });
        }
        function finish() {
            $("#profile").show();
            $("#items").hide();
            $("#bills").hide();
            $("#models").hide();
            document.getElementById("models").innerHTML = "";
        }

        function billGeneration() {
            $("#bills").show();
            $("#profile").hide();
            $("#models").hide();
        }
        function addToTable() {
            var itemName = document.getElementById("item_name_bill").value;
            var itemQuantity = document.getElementById("item_quantity_bill").value;
            var itemPrice = document.getElementById("item_price_bill").value;
            var obj = {
                "ItemName": itemName,
                "QuantityPurchased": itemQuantity,
                "QuantityCost": itemPrice,
            }
            itemList[index++] = obj;
            document.getElementById("item_name_bill").value = "";
            document.getElementById("item_quantity_bill").value = "";
            document.getElementById("item_price_bill").value = "";
        }

        function computeBill() {
            console.log(itemList);
            console.log("in compute bill: " + vendorId);
            $.ajax({

                url: 'http://localhost:59847/Bills/Create',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    "BillVendorID": vendorId,
                    "BillCustomerID": 1,
                    "Total_Bill": 1000,
                    "dateOfPurchase": new Date()
                }),
                dataType: "json",
                success: function (returndata) {

                    if (returndata.ok) {
                        console.log("hurray!" + returndata.BillID);
                        for (var i = 0; i < index; i++) {
                            $.ajax({

                                url: 'http://localhost:59847/Items/Create',
                                type: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify({
                                    "BillId": returndata.BillID,
                                    "ItemName": itemList[i].ItemName,
                                    "QuantityPurchased": itemList[i].QuantityPurchased,
                                    "QuantityCost": itemList[i].QuantityCost,
                                }),
                                success: function () {
                                    console.log("item added to bill");
                                    finish();
                                }
                            })
                        }
                        index = 0;
                        itemList = [];
                    }


                }


            });
        }
        function summary() {
            $("#profile").hide();
            $("#models").show();
            $("#items").hide();
            $("#bills").hide();
            var inner = "";
            $.ajax({

                url: 'http://localhost:59847/Bills/GetByVendorId/',
                type: 'POST',
                contentType: 'application/json',
                async:false,
                data: JSON.stringify({
                    "BillID": vendorId,

                }),
                success: function (data) {
                    if (data.ok) {
                        console.log("retrieved all the bill ids");
                        console.log(data.id);
                        console.log(data.id.length);
                        for (var i = 0; i < data.id.length; i++) {
                            
                            inner = "";
                            console.log((data.id[i]));
                            console.log("bill id :" + (data.id)[i].BillID);
                            inner += "<div class=\"row\">"
                                + "<div class=\"col s12 m6\" >"
                                + " <div class=\"card blue-grey darken-1\">"
                                + "<div class=\"card-content white-text\">"
                                + "<span class=\"card-title\">Test Bill</span>"
                                + "<p><table><tr><th>Item Name</th><th>Quantity Purchased</th><th>Item Price</th></tr>";
                            $.ajax({
                                url: 'http://localhost:59847/Items/GetByBillId/',
                                type: 'POST',
                                contentType: 'application/json',
                                async: false,
                                data: JSON.stringify({
                                    "ItemId": (data.id)[i].BillID,

                                }),
                                success: function (itemdata) {
                                    console.log("itemdata: " + itemdata.id);
                                    for (var j = 0; j < itemdata.id.length; j++) {
                                        console.log((itemdata.id)[j].ItemName);
                                        inner += "<tr><td>"
                                            + (itemdata.id)[j].ItemName + "</td>"
                                            + "<td>"
                                            + (itemdata.id)[j].QuantityPurchased + "</td>"
                                            + "<td>" + (itemdata.id)[j].QuantityCost + "</td></tr>"
                                        console.log("inner: " + inner);
                                    }
                                    inner += "</table></p></div>"
                                        + "</div>"
                                        + " </div >"
                                        + "</div>";
                                }

                            });
                            document.getElementById("models").innerHTML += inner;
                        }

                    }
                }

            });
        }
    </script>

</body>

</html>